snippet csif "Ignore file for code sniffing" b
// @codingStandardsIgnoreFile
$1
endsnippet

snippet csis "Ignore start line" b
// @codingStandardsIgnoreStart
$1
endsnippet

snippet csie "Ignore end line" b
// @codingStandardsIgnoreEnd
$1
endsnippet
